/* 

.login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .lContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  a
  .lInput{
    height: 30px;
    padding: 10px;
  }
  
  .lButton {
    border: none;
    padding: 10px 20px;
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .lButton:disabled{
    background-color: #0071c28c;
    cursor: not-allowed;
  }

   */


   .login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
    background-size: cover;
    background-position: center;
    background-image: url("https://i.pinimg.com/736x/1c/f4/48/1cf448b249f0aa2e025952c1d6d7d72f.jpg");
  }
  
  .lContainer {
    width: 400px;
    padding: 40px;
    border-radius: 8px;
    background-color: #c8d3db;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .login-heading {
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
  }
  
  .lInput {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .lButton {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #2161d1;
    color: #fff;
    cursor: pointer;
  }
  
  .lButton:hover {
    background-color: #45a049;
  }
  
  span {
    display: block;
    color: #000000;
    margin-top: 10px;
  }
  